In [2]:
from IPython.core.display import HTML
HTML("<script>Jupyter.notebook.kernel.restart()</script>")

In [7]:
import sqlite3 as sql
import pandas as pd

# Connect to SQLite database
conn = sql.connect("C:/Users/kinga/Documents/LOCKIN/nba.sqlite/nba.sqlite")

df_games = pd.read_sql('select * from game', conn) # use connection object and a arbitrary SQL argument with Pandas
df_games.head() # display first five rows of resultant DataFrame

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
0,21946,1610610035,HUS,Toronto Huskies,0024600001,1946-11-01 00:00:00,HUS vs. NYK,L,0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,68.0,2,0,Regular Season
1,21946,1610610034,BOM,St. Louis Bombers,0024600003,1946-11-02 00:00:00,BOM vs. PIT,W,0,20.0,...,NaN,NaN,NaN,NaN,NaN,25.0,51.0,-5,0,Regular Season
2,21946,1610610032,PRO,Providence Steamrollers,0024600002,1946-11-02 00:00:00,PRO vs. BOS,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,-6,0,Regular Season
3,21946,1610610025,CHS,Chicago Stags,0024600004,1946-11-02 00:00:00,CHS vs. NYK,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,22.0,47.0,-16,0,Regular Season
4,21946,1610610028,DEF,Detroit Falcons,0024600005,1946-11-02 00:00:00,DEF vs. WAS,L,0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,50.0,17,0,Regular Season

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

# Connect to the SQLite database
db_path = "C:/Users/kinga/Documents/LOCKIN/nba.sqlite/nba.sqlite"
engine = create_engine(f"sqlite:///{db_path}")

# Query the last 5 games based on an 'id' or 'date' column
pd.set_option('display.max_columns', None)
query_games = "SELECT * FROM game ORDER BY game_date DESC LIMIT 10;"  # Replace 'id' with the appropriate column
df_games = pd.read_sql_query(query_games, engine)

# Display the result
print(df_games)

  season_id team_id_home team_abbreviation_home      team_name_home  \
0     42022   1610612743                    DEN      Denver Nuggets
1     42022   1610612748                    MIA          Miami Heat
2     42022   1610612748                    MIA          Miami Heat
3     42022   1610612743                    DEN      Denver Nuggets
4     42022   1610612743                    DEN      Denver Nuggets
5     42022   1610612738                    BOS      Boston Celtics
6     42022   1610612748                    MIA          Miami Heat
7     42022   1610612738                    BOS      Boston Celtics
8     42022   1610612748                    MIA          Miami Heat
9     42022   1610612747                    LAL  Los Angeles Lakers

      game_id            game_date matchup_home wl_home  min  fgm_home  \
0  0042200405  2023-06-12 00:00:00  DEN vs. MIA       W  240      38.0
1  0042200404  2023-06-09 00:00:00  MIA vs. DEN       L  240      35.0
2  0042200403  2023-06-07 00:00:00  MIA vs. DEN       L  240      34.0
3  0042200402  2023-06-04 00:00:00  DEN vs. MIA       L  240      39.0
4  0042200401  2023-06-01 00:00:00  DEN vs. MIA       W  240      40.0
5  0042200307  2023-05-29 00:00:00  BOS vs. MIA       L  240      32.0
6  0042200306  2023-05-27 00:00:00  MIA vs. BOS       L  240      33.0
7  0042200305  2023-05-25 00:00:00  BOS vs. MIA       W  240      40.0
8  0042200304  2023-05-23 00:00:00  MIA vs. BOS       L  240      34.0
9  0042200314  2023-05-22 00:00:00  LAL vs. DEN       L  240      40.0

   fga_home  fg_pct_home  fg3m_home  fg3a_home  fg3_pct_home  ftm_home  \
0      84.0        0.452        5.0       28.0         0.179      13.0
1      78.0        0.449        8.0       25.0         0.320      17.0
2      92.0        0.370       11.0       35.0         0.314      15.0
3      75.0        0.520       11.0       28.0         0.393      19.0
4      79.0        0.506        8.0       27.0         0.296      16.0
5      82.0        0.390        9.0       42.0         0.214      11.0
6      93.0        0.355       14.0       30.0         0.467      23.0
7      79.0        0.506       16.0       39.0         0.410      14.0
8      78.0        0.436        8.0       32.0         0.250      23.0
9      86.0        0.465        8.0       20.0         0.400      23.0

   fta_home  ft_pct_home  oreb_home  dreb_home  reb_home  ast_home  stl_home  \
0      23.0        0.565       11.0       46.0      57.0      21.0       6.0
1      20.0        0.850        8.0       29.0      37.0      23.0       2.0
2      19.0        0.789       10.0       23.0      33.0      20.0       7.0
3      22.0        0.864        9.0       29.0      38.0      23.0       7.0
4      20.0        0.800        6.0       39.0      45.0      29.0       4.0
5      13.0        0.846       10.0       30.0      40.0      18.0       6.0
6      29.0        0.793       17.0       30.0      47.0      22.0       5.0
7      19.0        0.737       12.0       25.0      37.0      23.0      13.0
8      28.0        0.821       12.0       32.0      44.0      18.0       5.0
9      26.0        0.885        8.0       30.0      38.0      20.0       5.0

   blk_home  tov_home  pf_home  pts_home  plus_minus_home  \
0       7.0      15.0     13.0      94.0                5
1       3.0      15.0     19.0      95.0              -13
2       3.0       4.0     22.0      94.0              -15
3       2.0      14.0     21.0     108.0               -3
4       4.0      10.0      8.0     104.0               11
5       4.0      15.0     13.0      84.0              -19
6       4.0       5.0     24.0     103.0               -1
7       4.0      10.0      9.0     110.0               13
8       2.0      16.0     18.0      99.0              -17
9       4.0       6.0     19.0     111.0               -2

   video_available_home team_id_away team_abbreviation_away  team_name_away  \
0                     1   1610612748                    MIA      Miami Heat
1                     1   1610612743                    DEN  Denver Nuggets
2                     1   1610612743                    DEN  Denver Nuggets
3                     1   1610612748                    MIA      Miami Heat
4                     1   1610612748                    MIA      Miami Heat
5                     1   1610612748                    MIA      Miami Heat
6                     1   1610612738                    BOS  Boston Celtics
7                     1   1610612748                    MIA      Miami Heat
8                     1   1610612738                    BOS  Boston Celtics
9                     1   1610612743                    DEN  Denver Nuggets

  matchup_away wl_away  fgm_away  fga_away  fg_pct_away  fg3m_away  fg3a_away  \
0    MIA @ DEN       L      33.0      96.0        0.344        9.0       35.0
1    DEN @ MIA       W      39.0      79.0        0.494       14.0       28.0
2    DEN @ MIA       W      41.0      80.0        0.513        5.0       18.0
3    MIA @ DEN       W      38.0      78.0        0.487       17.0       35.0
4    MIA @ DEN       L      39.0      96.0        0.406       13.0       39.0
5    MIA @ BOS       W      42.0      86.0        0.488       14.0       28.0
6    BOS @ MIA       W      34.0      78.0        0.436        7.0       35.0
7    MIA @ BOS       L      40.0      78.0        0.513        9.0       23.0
8    BOS @ MIA       W      43.0      84.0        0.512       18.0       45.0
9    DEN @ LAL       W      41.0      85.0        0.482       12.0       33.0

   fg3_pct_away  ftm_away  fta_away  ft_pct_away  oreb_away  dreb_away  \
0         0.257      14.0      16.0        0.875       11.0       33.0
1         0.500      16.0      21.0        0.762        5.0       29.0
2         0.278      22.0      27.0        0.815       13.0       45.0
3         0.486      18.0      20.0        0.900        8.0       23.0
4         0.333       2.0       2.0        1.000       11.0       32.0
5         0.500       5.0       6.0        0.833        7.0       35.0
6         0.200      29.0      34.0        0.853       12.0       35.0
7         0.391       8.0      10.0        0.800       10.0       26.0
8         0.400      12.0      18.0        0.667        7.0       32.0
9         0.364      19.0      22.0        0.864       11.0       29.0

   reb_away  ast_away  stl_away  blk_away  tov_away  pf_away  pts_away  \
0      44.0      18.0       9.0       7.0       8.0     21.0      89.0
1      34.0      26.0      11.0       7.0       8.0     18.0     108.0
2      58.0      28.0       3.0       5.0      14.0     18.0     109.0
3      31.0      28.0       5.0       4.0      11.0     22.0     111.0
4      43.0      26.0       5.0       4.0       8.0     15.0      93.0
5      42.0      26.0       7.0       2.0      14.0     15.0     103.0
6      47.0      18.0       4.0       8.0      12.0     22.0     104.0
7      36.0      20.0       6.0       2.0      16.0     13.0      97.0
8      39.0      28.0       8.0       8.0      10.0     24.0     116.0
9      40.0      25.0       3.0       9.0      11.0     20.0     113.0

   plus_minus_away  video_available_away season_type
0               -5                     1    Playoffs
1               13                     1    Playoffs
2               15                     1    Playoffs
3                3                     1    Playoffs
4              -11                     1    Playoffs
5               19                     1    Playoffs
6                1                     1    Playoffs
7              -13                     1    Playoffs
8               17                     1    Playoffs
9                2                     1    Playoffs

In [40]:
df_play_by_play = pd.read_sql('select * from play_by_play', conn) # use connection object and a arbitrary SQL argument with Pandas
df_play_by_play.head() # display first five rows of resultant DataFrame

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,wctimestring,pctimestring,homedescription,neutraldescription,visitordescription,score,scoremargin,person1type,player1_id,player1_name,player1_team_id,player1_team_city,player1_team_nickname,player1_team_abbreviation,person2type,player2_id,player2_name,player2_team_id,player2_team_city,player2_team_nickname,player2_team_abbreviation,person3type,player3_id,player3_name,player3_team_id,player3_team_city,player3_team_nickname,player3_team_abbreviation,video_available_flag
0,0029600012,0,12,0,1,14:43 PM,12:00,None,Start of 1st Period (14:43 PM EST),None,None,None,0.0,0,None,None,None,None,None,0.0,0,None,None,None,None,None,0.0,0,None,None,None,None,None,0
1,0029600012,2,10,0,1,14:50 PM,12:00,Jump Ball O'Neal vs. Kleine: Tip to Cassell,None,None,None,None,4.0,406,Shaquille O'Neal,1610612747.0,Los Angeles,Lakers,LAL,5.0,170,Joe Kleine,1610612756.0,Phoenix,Suns,PHX,5.0,208,Sam Cassell,1610612756.0,Phoenix,Suns,PHX,0
2,0029600012,3,2,1,1,14:51 PM,11:45,None,None,MISS Cassell 15' Jump Shot,None,None,5.0,208,Sam Cassell,1610612756.0,Phoenix,Suns,PHX,0.0,0,None,None,None,None,None,0.0,0,None,None,None,None,None,0
3,0029600012,4,4,0,1,14:51 PM,11:43,O'Neal REBOUND (Off:0 Def:1),None,None,None,None,4.0,406,Shaquille O'Neal,1610612747.0,Los Angeles,Lakers,LAL,0.0,0,None,None,None,None,None,0.0,0,None,None,None,None,None,0
4,0029600012,5,2,1,1,14:51 PM,11:29,MISS Ceballos 26' 3PT Jump Shot,None,None,None,None,4.0,76,Cedric Ceballos,1610612747.0,Los Angeles,Lakers,LAL,0.0,0,None,None,None,None,None,0.0,0,None,None,None,None,None,0

In [ ]:
#PLAY BY PLAY
gears = "SELECT * FROM play_by_play WHERE game_id = '0029600012' LIMIT 800;"
pd.set_option('display.max_columns', None)
df_play_by_play = pd.read_sql_query(gears, engine)
print(df_play_by_play)

        game_id  eventnum  eventmsgtype  eventmsgactiontype  period  \
0    0029600012         0            12                   0       1
1    0029600012         2            10                   0       1
2    0029600012         3             2                   1       1
3    0029600012         4             4                   0       1
4    0029600012         5             2                   1       1
..          ...       ...           ...                 ...     ...
461  0029600012       485             3                  11       4
462  0029600012       486             4                   0       4
463  0029600012       487             3                  12       4
464  0029600012       488             4                   0       4
465  0029600012       489            13                   0       4

    wctimestring pctimestring                              homedescription  \
0       14:43 PM        12:00                                         None
1       14:50 PM        12:00  Jump Ball O'Neal vs. Kleine: Tip to Cassell
2       14:51 PM        11:45                                         None
3       14:51 PM        11:43                 O'Neal REBOUND (Off:0 Def:1)
4       14:51 PM        11:29              MISS Ceballos 26' 3PT Jump Shot
..           ...          ...                                          ...
461     17:11 PM         0:12                                         None
462     17:11 PM         0:12                                         None
463     17:12 PM         0:12                                         None
464     17:12 PM         0:12                 Knight REBOUND (Off:0 Def:2)
465     17:12 PM         0:00                                         None

                     neutraldescription              visitordescription  \
0    Start of 1st Period (14:43 PM EST)                            None
1                                  None                            None
2                                  None      MISS Cassell 15' Jump Shot
3                                  None                            None
4                                  None                            None
..                                  ...                             ...
461                                None  MISS Manning Free Throw 1 of 2
462                                None                    Suns Rebound
463                                None  MISS Manning Free Throw 2 of 2
464                                None                            None
465    End of 4th Period (17:12 PM EST)                            None

       score scoremargin  person1type  player1_id      player1_name  \
0       None        None          0.0           0              None
1       None        None          4.0         406  Shaquille O'Neal
2       None        None          5.0         208       Sam Cassell
3       None        None          4.0         406  Shaquille O'Neal
4       None        None          4.0          76   Cedric Ceballos
..       ...         ...          ...         ...               ...
461     None        None          5.0         330     Danny Manning
462     None        None          3.0  1610612756              None
463     None        None          5.0         330     Danny Manning
464     None        None          4.0         969     Travis Knight
465  82 - 96          14          0.0           0              None

    player1_team_id player1_team_city player1_team_nickname  \
0              None              None                  None
1      1610612747.0       Los Angeles                Lakers
2      1610612756.0           Phoenix                  Suns
3      1610612747.0       Los Angeles                Lakers
4      1610612747.0       Los Angeles                Lakers
..              ...               ...                   ...
461    1610612756.0           Phoenix                  Suns
462            None              None                  None
463    1610612756.0           Phoenix                  Suns
464    1610612747.0       Los Angeles                Lakers
465            None              None                  None

    player1_team_abbreviation  person2type player2_id player2_name  \
0                        None          0.0          0         None
1                         LAL          5.0        170   Joe Kleine
2                         PHX          0.0          0         None
3                         LAL          0.0          0         None
4                         LAL          0.0          0         None
..                        ...          ...        ...          ...
461                       PHX          0.0          0         None
462                      None          0.0          0         None
463                       PHX          0.0          0         None
464                       LAL          0.0          0         None
465                      None          0.0          0         None

    player2_team_id player2_team_city player2_team_nickname  \
0              None              None                  None
1      1610612756.0           Phoenix                  Suns
2              None              None                  None
3              None              None                  None
4              None              None                  None
..              ...               ...                   ...
461            None              None                  None
462            None              None                  None
463            None              None                  None
464            None              None                  None
465            None              None                  None

    player2_team_abbreviation  person3type player3_id player3_name  \
0                        None          0.0          0         None
1                         PHX          5.0        208  Sam Cassell
2                        None          0.0          0         None
3                        None          0.0          0         None
4                        None          0.0          0         None
..                        ...          ...        ...          ...
461                      None          0.0          0         None
462                      None          0.0          0         None
463                      None          0.0          0         None
464                      None          0.0          0         None
465                      None          0.0          0         None

    player3_team_id player3_team_city player3_team_nickname  \
0              None              None                  None
1      1610612756.0           Phoenix                  Suns
2              None              None                  None
3              None              None                  None
4              None              None                  None
..              ...               ...                   ...
461            None              None                  None
462            None              None                  None
463            None              None                  None
464            None              None                  None
465            None              None                  None

    player3_team_abbreviation video_available_flag
0                        None                    0
1                         PHX                    0
2                        None                    0
3                        None                    0
4                        None                    0
..                        ...                  ...
461                      None                    0
462                      None                    0
463                      None                    0
464                      None                    0
465                      None                    0

[466 rows x 34 columns]

In [106]:
query_other_stats = "SELECT * FROM other_stats LIMIT 10;"
df_other_stats = pd.read_sql_query(query_other_stats, engine)
print(df_other_stats)

      game_id league_id team_id_home team_abbreviation_home team_city_home  \
0  0029600012        00   1610612756                    PHX        Phoenix
1  0029600005        00   1610612737                    ATL        Atlanta
2  0029600002        00   1610612739                    CLE      Cleveland
3  0029600007        00   1610612754                    IND        Indiana
4  0029600013        00   1610612746                    LAC    Los Angeles
5  0029600009        00   1610612745                    HOU        Houston
6  0029600014        00   1610612757                    POR       Portland
7  0029600001        00   1610612738                    BOS         Boston
8  0029600006        00   1610612761                    TOR        Toronto
9  0029600003        00   1610612749                    MIL      Milwaukee

   pts_paint_home  pts_2nd_chance_home  pts_fb_home  largest_lead_home  \
0              44                   18            2                  1
1              32                    9            6                  0
2              36                   14            6                 20
3              34                   11            4                 10
4              40                   19            2                 12
5              44                   16           20                 25
6              62                   24           19                 35
7              48                   18           15                 16
8              28                   11           14                  7
9              46                   27            9                 14

   lead_changes  times_tied  team_turnovers_home  total_turnovers_home  \
0             4           1                    0                    12
1             0           0                    1                    24
2             1           1                    0                    15
3             7           4                    0                    18
4             5           4                    0                    20
5             8           3                    2                    23
6             3           3                    0                    17
7             8           5                    0                    18
8            16           7                    0                    24
9             4           5                    1                    15

   team_rebounds_home pts_off_to_home team_id_away team_abbreviation_away  \
0                  11            None   1610612747                    LAL
1                   7            None   1610612748                    MIA
2                   5            None   1610612751                    NJN
3                   8            None   1610612765                    DET
4                   7            None   1610612744                    GSW
5                  14            None   1610612758                    SAC
6                  11            None   1610612763                    VAN
7                  11            None   1610612741                    CHI
8                  12            None   1610612752                    NYK
9                  14            None   1610612755                    PHI

  team_city_away  pts_paint_away  pts_2nd_chance_away  pts_fb_away  \
0    Los Angeles              42                   10           13
1          Miami              32                   15           14
2     New Jersey              26                   16            4
3        Detroit              30                   14            7
4   Golden State              30                    9            2
5     Sacramento              38                    9           12
6      Vancouver              34                    8            6
7        Chicago              56                   12           15
8       New York              38                   10           15
9   Philadelphia              54                    8           24

   largest_lead_away  team_turnovers_away  total_turnovers_away  \
0                 19                    0                    23
1                 16                    1                    19
2                  2                    1                    22
3                  9                    2                    19
4                  6                    0                    20
5                  2                    0                    27
6                  2                    1                    16
7                 11                    0                    19
8                 11                    0                    24
9                  2                    1                    14

   team_rebounds_away pts_off_to_away
0                  11            None
1                   6            None
2                  12            None
3                  10            None
4                   7            None
5                  11            None
6                   9            None
7                  13            None
8                  13            None
9                  10            None